@font-face {
    font-family: 'Manrope-bold';
    src: url('../fonts/Manrope-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url('../fonts/Manrope-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Manrope-regular';
    src: url('../fonts/Manrope-Regular.ttf') format('truetype');
}

/*<------------------------------ Reset global ---------------------------->*/
html, body, img, video, canvas, svg {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    width: 100%;
}

/*<------------------------------ Variable ---------------------------->*/

:root {

    --couleur-bleu : #3573FB;
    --font-titre: 'Manrope-ExtraBold', sans-serif;
    --font-p: 'Manrope-regular', sans-serif;

}

body {

    font-family: var(--font-titre);
    /* background: radial-gradient(circle at top, #001F54, #00051E); */
    background: #00051E;
    color: white;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 800px;
}

strong{
    color: var(--couleur-bleu);
}
h3{
    text-align: start;
    margin-left: 70px;
}


/*<------------------------------ Header ---------------------------->*/


header div img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 300px;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #00051E;
    z-index: 1000;
    height: 100px;
    transition: height 0.3s ease;
}

.menu.minimized {
    height: 5px;
}

.progress-bar {
    background-color: #3573FB;
    height: 100%;  
    width: 0%;
    transition: width 0.3s ease;
}

.menu ul {
    list-style-type: none;
    margin: 30px auto;
    display: flex;
    white-space: nowrap;
    border: 1px solid white;
    border-radius: 15px;
    width: fit-content;
    padding: 0;
}

.menu ul li {
    padding: 5px 30px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li:hover {
    background-color: #3573FB;
    border-radius: 20px;
    transition: all 0.8s;
}


.menu:hover ul {
    display: flex;
}


header div {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;

}


/*<------------------------------ icone ---------------------------->*/


.floating-icons svg {
    color: white;
}

.floating-icons {
    position: fixed;
    right: 20px;
    top: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px;  
}

.floating-icons a {
    text-decoration: none;
    transition: transform 0.3s ease;
}

.floating-icons a:hover {
    transform: scale(1.2);
}

.floating-icons a:focus {
    outline: none;
    transform: scale(1.2);
}

/*<------------------------------ Projet ---------------------------->*/

.carousel-container {
    position: relative;
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}


.carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}


.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.1), 0 4px 6px rgba(255, 255, 255, 0.05);
}


/*<------------------------------ Projet1 -->*/
.carousel-item.projet-1 {
    background-color: #F7F6F2;
}

.carousel-item.projet-1 h4 {
    color: #333;
    font-size: x-large;
    margin: 0;
    font-family: var(--font-titre);
}

.carousel-item.projet-1 p {
    color: #333;
    margin: 0;
    font-family: var(--font-p);
}
/*<------------------------------ Projet2 -->*/

.carousel-item.projet-2 {
    background-color: #F7F6F2;
}

.carousel-item.projet-2 h4 {
    color: #333;
    font-size: x-large;
    margin: 0;
    font-family: var(--font-titre);
}

.carousel-item.projet-2 p {
    color: #333;
    margin: 0;
    font-family: var(--font-p);
}

.carousel-item.projet-2 img {
    height: 98px;
}

/*<------------------------------ Projet3 -->*/

.carousel-item.projet-3 {
    background-color: #F7F6F2;
}

.carousel-item.projet-3 h4 {
    color: #333;
    font-size: x-large;
    margin: 0;
    font-family: var(--font-titre);
}

.carousel-item.projet-3 p {
    color: #333;
    margin: 0;
    font-family: var(--font-p);
}


.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3573FB;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    z-index: 1;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-item.active {
    display: block;
}






/*<------------------------------ A propos ---------------------------->*/

.presentation {
    padding: 20px 0px;
    border-radius: 15px;
    max-width: 700px;
}

header div h1 {
    font-family: var(--font-titre);
    font-size: 28px;
    margin-top: 40px;

}


header div h2 {
    color: var(--couleur-bleu);
    font-family: var(--font-titre);
    font-size: 32px;
    margin: 0;

}

header div p {
    width: 80%;
    margin: 0 auto;
}

.learn-more {
    background-color: var(--couleur-bleu);
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.more-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease;
}

.more-content.open {
    max-height: 500px;
}

button.learn-more {
    background: var(--couleur-bleu);
    border-radius: 15px;
    padding: 10px;
    color: white;
    margin: 30px;
}

button.learn-more:hover {
    background: var(--couleur-bleu);
    border-radius: 15px;
    padding: 10px;
    color: white;
    margin: 30px;
}

/*<------------------------------ Soft skills ---------------------------->*/

.skills {
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    gap: 20px;
    margin: 0 auto;
    list-style: none;
}

.content p {
    font-family: var(--font-p);
    font-size: 16px;
    color: white;
    text-align: start;
    margin: 5px;
}

.soft-skills {
    background-color: #31313145;
    width: 80%;
    margin: 60px auto;
    border-radius: 5px;
    max-width: 600px;
    height: 350px;
    backdrop-filter: blur(10px) brightness(0.8);
    box-shadow: 0 30px 50px rgb(255 255 255 / 10%);

}

.soft-skills h2 {
    font-family: var(--font-titre);
    font-size: 16px;
    color: white;
    margin: 0;
    text-align: start;
    padding: 27px 0px 0px 42px;
}

.skill-button {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding: 4px;
    border-radius: 10px;
    background-color: white;
    border: none;
    overflow: hidden;
    width: 200px;
    transition: transform 0.8s ease, box-shadow 0.8s ease;
    transform-style: preserve-3d;
}

.skill-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--couleur-bleu);
    transition: width 1.5s ease-in-out;
    z-index: 0;
}

.skill-button:hover.one::before {
    width: 40%; 
}

.skill-button:hover.two::before {
    width: 60%; 
}

.skill-button:hover.tree::before {
    width: 100%; 
}

.skill-button:hover.for::before {
    width: 30%; 
}

.skill-button:hover.five::before {
    width: 60%; 
}

.skill-button:hover.sixt::before {
    width: 20%; 
}



/*<------------------------------ Section Jeux---------------------------->*/


canvas {
    background: #333;
    display: block;
    border: 3px solid white;
    width: 80%;
    margin: 80px auto;
}

button#restartButton {
    margin: 0 auto;
    border: none;
    background: var(--couleur-bleu);
    padding: 8px 15px;
    color: white;
    font-family: var(--font-titre);
    border-radius: 8px;
    display: none;
}

#restartButton:hover {
    background-color: #2457C5;
}



.mobile-controls {
    position: fixed;
    bottom: 90px;
    left: 45px;
    right: 45px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    background-color: var(--couleur-bleu);
    border-radius: 20px;
}

.arrow-btn, .jump-btn {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    transition: background-color 0.3s;
}

.arrow-btn:hover, .jump-btn:hover {
    background-color: rgba(255, 255, 255, 0.5); 
}

.jump-btn {
    width: 50px;
    height: 50px;
    font-size: 24px; 
}

/* Cacher par défaut */
.hidden {
    display: none;
}

/*<------------------------------ Section hardskils ---------------------------->*/

.competences-web {
    max-width: 600px;
    width: 80%;
    margin: 60px auto;
    height: 300px;
}

.hard-skills {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 10px;
    gap: 20px;
}

.contenu p {
    font-family: var(--font-p);
    font-size: 16px;
    color: white;
    text-align: start;
    margin: 10px;
}

/* Container for each skill bar */
.skill-container {
    width: 100%;
    background-color: #ccc;
    border-radius: 8px;
    overflow: hidden;
}

/* Skill bar itself */
.skill-bar {
    height: 15px;
    width: 0;
    background-color: var(--couleur-bleu);
    border-radius: 8px;
    transition: width 1s ease-in-out;
}


.contenu {
    width: 200PX;
}



/*<------------------------------ Section Formations ---------------------------->*/


.formations ul {
    list-style: none;
    margin: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.formations ul li {
    color: white;
    font-family: var(--font-p);
    font-size: 12px;
    cursor: pointer;
    width: 150px;
    border: 0.5px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 150px;
    text-align: center;
    transition: all 0.5s ease;
    overflow: hidden;
}

.formations ul li.active {
    width: 80%; 
    height: auto;
}

.formations ul li p {
    margin: 5px 0;
}

.formations ul li .detail {
    display: none;
    opacity: 0; /* Initialement caché */
    transition: opacity 0.3s ease; /* Effet de fondu pour l'apparition */
}

.formations ul li.active .detail {
    display: block;
    opacity: 1; /* Fait apparaître la description détaillée */
    margin-top: 10px;
}

.hidden {
    display: none;
}

.active ul {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.active ul li {
    border: none;
    display: flex
;
    width: 90%;
    height: fit-content;
    text-align: start;
}

strong {
    white-space: nowrap;
}

/*<------------------------------ Section experience ---------------------------->*/

.experiences ul {
    list-style: none;
    margin: 80px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.experiences ul li {
    font-family: var(--font-p);
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.3s ease;
    align-items: center;
}


.experiences ul li:hover {
    transform: translateY(-5px); 
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}


.experiences ul li .description {
    display: none;
    margin-top: 10px;
    padding: 10px;
    text-align: justify;
}

.experiences ul li.active .description {
    display: flex;

}











.footer {
    border: 1px solid;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-icons {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  
  .contact-icons a {
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  
  .contact-icons a:hover {
    transform: scale(1.1);
  }
  
  .contact-icons a:focus {
    outline: none;
    transform: scale(1.1);
  }

  footer svg {
    color: white;
  }










@media (min-width: 768px) {
    .mobile-controls {
        display: none;
    }

    .experiences ul li {
        display: flex;
        gap: 100px;
    }

    .experiences ul li .description {
        width: 500px;
    }

}

@media (min-width: 1024px) {

    .floating-icons {

        right: 10%;
    }

}